{% extends 'store/base.htm' %}
{% block title %} Home {% endblock title %}
{% block body %}
{% load cart_filter %} 
<div class="container-fluid mt-3">
    <div class="row">
        <!-- fillter -->
        <div class="col-lg-3">
            
            <div class="list-group">
                <a href="/"
                    class="list-group-item list-group-item-action {% if not category_id %} active {% endif %}">All
                    Products </a>
                {% for category in all_cate %}

                <a href="/?category={{category.id}}"
                    class="list-group-item list-group-item-action {% if category.id == category_id %} active {% endif %}">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>
        <!-- fillter -->
        <div id="products" class="col-lg-9">
            <div class="row mx-auto">
                {% if all_prod %}
                {% for product in all_prod %}
                <div class="card mx-auto mb-3" style="width: 18rem;" id="{{product.id}}">
                    <img src="{{product.img.url}}" class="card-img-top" alt="{{product.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">&#8377;{{product.price}}</p>
                    </div>
                    <div class="card-footer p-0 ">
                        {% if not product.id|is_in_cart:request.session.cart %}
                        <form action="#{{product.id}}" method="post" class="btn-block">
                            {% csrf_token %}
                            <input type="hidden" name="product" value="{{product.id}}">
                            <button class="btn btn-light border form-control">Add To Cart</button>
                        </form>
                        {% else %}
                        <div class="row no-gutters">
                            <form action="#{{product.id}}" method="post" class="col-2">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" value="{{product.id}}">
                                    <input type="hidden" name="remove" value="True">
                                <button class="btn btn-block btn-secondary">-</button>
                            </form>
                            <div class="text-center col p-1">{{product.id|cart_count:request.session.cart}} in cart</div>
                            <form action="#{{product.id}}" method="post" class="col-2">
                                {% csrf_token %}
                                <input type="hidden" name="product" value="{{product.id}}">
                            <button class="btn btn-block btn-secondary">+</button>
                            </form>
                        </div>  
                       {% endif %} 
                       
                    </div>
                    
                </div>
                {% endfor %}
                {% else %}
                <span class="text-center text-danger">No Products Availabel Yet.</span>
                {% endif %}
               
            </div>
        </div>
    </div>
</div>
{% endblock body %}